body {
    font-family: sans-serif;
    color: black;
    background-color: pink;
    text-align: center;
    font-size: 12pt;
}

.feld {
    width: 100px;
    height: 100px;
    background-color: white;
    display: inline-block;
    margin: 5px;
    line-height: 100px;
    font-size: 24pt;
    cursor: pointer;
}

#spielfeld {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 110px);
    justify-content: center;   
}